/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
}

.search-bar {
    display: flex;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.video-player {
    position: relative;
}

video {
    width: 100%;
    max-height: 500px;
    outline: none;
}

.custom-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.video-details {
    text-align: center;
    margin-top: 20px;
}

.video-details h1 {
    font-size: 24px;
    color: #333;
}

.video-playlist {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.video-playlist h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.video-playlist ul {
    list-style-type: none;
    padding: 0;
}

.video-playlist li {
    margin-bottom: 10px;
}

.video-playlist a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
